@charset "UTF-8";

#content{margin:-80px 0 0;padding:80px 0 0;box-sizing:border-box}

/* section */
.section{overflow:hidden;float:left;position:relative;width:33.33%;height:100%;cursor:pointer;transition:.5s}
.section:before{display:none;position:absolute;top:50%;left:50%;width:40px;height:152px;background:no-repeat 0 0/100%;transform:translate(-50%,-50%);content:''}
.section:after{position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(0,0,0,.5);transition:.4s;content:''}
.section1:hover:after,
.section2:hover:after,
.section3:hover:after{background-color:transparent}
.bg_section{position:absolute;top:0;left:0;bottom:0;z-index:-1;width:100%;transition:.5s}

.courseInfo{position:absolute;bottom:15%;left:65px;transition:.3s}
.tit_area .subject{font-weight:700;font-size:62px;line-height:1;font-family:Roboto;color:#fff;text-indent:-4px;text-shadow:1px 1px 3px rgba(0,0,0,0.3)}
.tit_area span{display:block;margin-top:8px;color:#fff;text-shadow:1px 1px 3px rgba(0,0,0,0.3)}
.tit_area:after{display:inline-block;width:50px;height:2px;margin-top:35px;background-color:#fff;content:''}
.txt_area p.transition1{margin-top:25px;font-size:20px;color:#fff}

.courseInfo_fade{position:absolute;top:50%;left:50%;max-width:500px;text-align:center;transform:translate(-50%,-50%)}
.courseInfo_fade .tit_area strong{position:relative;top:0;font-size:110px;transition:.7s .5s}
.courseInfo_fade .tit_area span{position:relative;top:0;transition:.7s .7s}
.courseInfo_fade .tit_area:after{visibility:visible;position:relative;top:0;opacity:0;margin-top:50px;transition:.7s .8s}
.courseInfo_fade .txt_area p.transition1{position:relative;top:0;transition:.7s 1s}
.courseInfo_fade p.transition2{position:relative;top:0;margin-top:25px;color:#fff;transition:.7s 1.1s}

.btn_area{position:absolute;right:0;bottom:0;left:0;transition:1s 1.2s}
.btn_area .btn_attend{display:inline-block;padding:7px 22px;border:1px solid rgba(255,255,255,.6);box-sizing:border-box;background-color:rgba(0,0,0,.4);font-weight:700;font-size:20px;color:#fff;letter-spacing:.5px}

.section1 .bg_section{background:#000 url(../images/pc/bg_section.jpg) no-repeat -400px 0}
.section2 .bg_section{background:#000 url(../images/pc/bg_section2.jpg) no-repeat -400px 0}
.section3 .bg_section{background:#000 url(../images/pc/bg_section3.jpg) no-repeat -700px 0}

/* radio:checked */
.radio1:checked~.section1,
.radio2:checked~.section2,
.radio3:checked~.section3{width:90%;cursor:auto}
.radio1:checked~.section2,
.radio1:checked~.section3,
.radio2:checked~.section1,
.radio2:checked~.section3,
.radio3:checked~.section1,
.radio3:checked~.section2{width:5%}
.radio2:checked~.section1:before,
.radio3:checked~.section1:before{display:block;background-image:url(../images/pc/btn_opn1.png)}
.radio1:checked~.section2:before,
.radio3:checked~.section2:before{display:block;background-image:url(../images/pc/btn_opn2.png)}
.radio1:checked~.section3:before,
.radio2:checked~.section3:before{display:block;background-image:url(../images/pc/btn_opn3.png)}

.radio1:checked~.section1:after,
.radio2:checked~.section2:after,
.radio3:checked~.section3:after{display:none}

.radio:checked~.section .courseInfo{visibility:hidden;opacity:0}

.radio1:checked~.section1 .courseInfo_fade .tit_area .subject,
.radio1:checked~.section1 .courseInfo_fade .tit_area span,
.radio1:checked~.section1 .courseInfo_fade .tit_area:after,
.radio1:checked~.section1 .courseInfo_fade .txt_area p,
.radio2:checked~.section2 .courseInfo_fade .tit_area .subject,
.radio2:checked~.section2 .courseInfo_fade .tit_area span,
.radio2:checked~.section2 .courseInfo_fade .tit_area:after,
.radio2:checked~.section2 .courseInfo_fade .txt_area p,
.radio3:checked~.section3 .courseInfo_fade .tit_area .subject,
.radio3:checked~.section3 .courseInfo_fade .tit_area span,
.radio3:checked~.section3 .courseInfo_fade .tit_area:after,
.radio3:checked~.section3 .courseInfo_fade .txt_area p{top:-100px;visibility:visible;opacity:1}
.radio1:checked~.section1 .courseInfo_fade,
.radio1:checked~.section1 .courseInfo_fade .btn_area,
.radio2:checked~.section2 .courseInfo_fade,
.radio2:checked~.section2 .courseInfo_fade .btn_area,
.radio3:checked~.section3 .courseInfo_fade,
.radio3:checked~.section3 .courseInfo_fade .btn_area{visibility:visible;opacity:1}

.radio1:checked~.section1 .bg_section,
.radio2:checked~.section2 .bg_section,
.radio3:checked~.section3 .bg_section{background-position:0 0}

/* footer */
#footer{position:absolute;right:0;bottom:0;left:0;z-index:20;margin-bottom:-28px;padding-top:28px;transition:.3s}
#footer:hover{margin-bottom:0;padding-top:0}

/* mediaquery */
@media screen and (max-width:1024px){
  /* header */
  .header_inner h1 a{padding:0.4286rem 0 0.7143rem;font-size:2rem}
  .header_inner h1 span{font-size:0.5714rem}
  .userInterface{top:0.8571rem;right:1.143rem}
  .btn_logout{font-size:0.8571rem}

  /* content */
  #content{margin-top:-3.857rem;padding-top:3.857rem}
  .section{display:block;float:none;width:100%;height:33.33%;padding:0.8571rem 1.071rem;box-sizing:border-box}
  .section:after{display:none}
  .section:before{top:50%;left:50%;width:6.357rem;height:1.786rem}

  .courseInfo{top:50%;left:50%;transform:translate(-50%,-80%);text-align:center}
  .tit_area .subject{font-size:2.286rem;text-indent:0}
  .tit_area span{margin-top:0.2857rem;font-size:0.7143rem}
  .tit_area:after{width:2.5rem;height:0.07143rem;margin-top:0}
  .txt_area p.transition1{margin-top:0.8571rem;font-size:1rem}

  .courseInfo_fade{width:78vw}
  .courseInfo_fade .tit_area .subject{top:0;font-size:3.857rem}
  .courseInfo_fade .tit_area span{top:0}
  .courseInfo_fade .tit_area:after{top:0;margin-top:0.7143rem}
  .courseInfo_fade .txt_area p.transition1{top:0}
  .courseInfo_fade p.transition2{top:0;margin-top:1.786rem;font-size:0.8571rem}

  .btn_area .btn_attend{padding:0.2857rem 1rem;font-size:1rem}

  .section1 .bg_section{background:#000 url(../images/pc/bg_section.jpg) no-repeat 0 0/cover}
  .section2 .bg_section{background:#000 url(../images/pc/bg_section2.jpg) no-repeat 0 0/cover}
  .section3 .bg_section{background:#000 url(../images/pc/bg_section3.jpg) no-repeat 0 0/cover}


  /* radio:checked */
  .radio1:checked~.section1,
  .radio2:checked~.section2,
  .radio3:checked~.section3{width:100%;height:86%}
  .radio1:checked~.section2,
  .radio1:checked~.section3,
  .radio2:checked~.section1,
  .radio2:checked~.section3,
  .radio3:checked~.section1,
  .radio3:checked~.section2{width:100%;height:7%}
  .radio2:checked~.section1:before,
  .radio3:checked~.section1:before{display:block;background-image:url(../images/mobile/btn_opn1.png)}
  .radio1:checked~.section2:before,
  .radio3:checked~.section2:before{display:block;background-image:url(../images/mobile/btn_opn2.png)}
  .radio1:checked~.section3:before,
  .radio2:checked~.section3:before{display:block;background-image:url(../images/mobile/btn_opn3.png)}

  .radio1:checked~.section2:after,
  .radio1:checked~.section3:after,
  .radio2:checked~.section1:after,
  .radio2:checked~.section3:after,
  .radio3:checked~.section1:after,
  .radio3:checked~.section2:after{display:block}

  .radio:checked~.section .courseInfo{visibility:hidden;opacity:0}

  .radio1:checked~.section1 .courseInfo_fade .tit_area .subject,
  .radio1:checked~.section1 .courseInfo_fade .tit_area span,
  .radio1:checked~.section1 .courseInfo_fade .tit_area:after,
  .radio1:checked~.section1 .courseInfo_fade .txt_area p,
  .radio2:checked~.section2 .courseInfo_fade .tit_area .subject,
  .radio2:checked~.section2 .courseInfo_fade .tit_area span,
  .radio2:checked~.section2 .courseInfo_fade .tit_area:after,
  .radio2:checked~.section2 .courseInfo_fade .txt_area p,
  .radio3:checked~.section3 .courseInfo_fade .tit_area .subject,
  .radio3:checked~.section3 .courseInfo_fade .tit_area span,
  .radio3:checked~.section3 .courseInfo_fade .tit_area:after,
  .radio3:checked~.section3 .courseInfo_fade .txt_area p{top:-7vh}

  /* footer */
  #footer{position:static;margin-bottom:0;padding-top:0}
  .copy{padding:0.1429rem 0 0.2143rem;font-size:0.5714rem}
}

@media screen and (max-width:767px){
  .courseInfo{position:static;max-width:none;transform:none;text-align:left}
}
